/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  height: 100vh;
  background: rgb(9, 4, 85);
  background: linear-gradient(
    90deg,
    rgba(9, 4, 85, 1) 0%,
    rgba(10, 62, 137, 1) 42%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow-y: hidden;
}
